# Test dependencies for the Programming Challenges repository
pytest>=8.0.0

# Dependencies needed for tests
numpy
matplotlib
pandas
requests
jinja2
markdown
mmh3
seaborn
nltk
PyQt6
keyboard
fastapi
uvicorn
cryptography
pyperclip
websockets
sqlalchemy
pydantic
cryptography
streamlit
ydata-profiling
sweetviz
Pygments
Pillow
ImageHash
torch
torchvision
tensorboard
